<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>留言板</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>

<body>


<%if(user!==''){%>
    <nav class="navbar navbar-light Mynav" style="background-color: #4d4847;">
        <div class='nav__title'><a class='logo' href='./'>留言板</a></div>
        <form class="form-inline" method='GET' action='/logout'>
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">登出</button>
        </form>  
    </nav>
<%} else{%>
    <nav class="navbar navbar-light Mynav" style="background-color: #4d4847;">
        <div class='nav__title'><a class='logo' href='./'>留言板</a></div>
    </nav>   
<%}%>    

<div class='Y-container container'>    

 
    <%if(user!==''){%>
    <div class='form-group shadow-sm p-3 mb-5 rounded container myForm' style='background-color:#f4fff8;'>
        <div class='user'>嗨，<%= user%></div>
        <form class='form-group createCommentForm'>
            <input type='text' name='nickname' value='<%=user%>' hidden>
            <input type='text' name='parent' value='0' hidden>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="content" required>在想什麼？</textarea>
            <div style='height: 10px;'></div>
            <button class="btn btn-outline-info my-2 my-sm-0 btn-lg btn-block" type="submit" required>送出</button>
        </form>
    </div>
    <%} else{%>
        <div class='comment shadow-sm p-2 mb-3  rounded row' style='background-color: #f4fff8;'>
            <form class="form-inline" method='GET' action='/login'>
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit">還沒登入嗎?</button>
            </form>
        </div>
    <%}%>
    
    <%
    let comment = 0
    if(p){
        comment = p*10
    }else{
        comment = 10
    }%>

    <% for(let i=comment-10; i<comment; i++){%>
        <%if(result[i] && result[i].parent==0){%>
        <div class='comment shadow-sm p-2 mb-3  rounded row' style='background-color: #f4fff8;'>
            <div class='comment__main' >
                <div class='comment__main__info card-header'>
                    <div class='comment__main__nickname'><%= result[i].nickname %></div>
                    <div class='comment__main__createdAt'><div><%= result[i].createdAt %></div></div>
                    
                    <%if(user==result[i].nickname){%>
                        <div class='comment__main__function row'>
                            <form class='deleteForm'>
                                <input class="form-control" type='text' name='deleteId' value="<%=result[i].id%>" hidden>
                                <input class="main__function--delete" type='submit' name="delete" value='刪除'>
                            </form>
                            <button class="btn--edit main__function--edit" type="button" class="button">編輯</button>
                        </div>
                    <%}%>

                </div>
                <div class='comment__main__content card-body'><%=result[i].comment %></div>
                <div class='comment__main__updateForm form-group p-3 bg-white rounded'>
                    <form class='updateForm'>
                        <input type='text' name='updateId' value="<%=result[i].id%>" hidden>
                        <textarea class="form-control" name="updateComment"><%= result[i].comment%></textarea>
                        <div style='height: 10px;'></div>
                        <button class="btn btn-outline-info my-2 my-sm-0 btn-lg btn-block" type="submit">更新</button> 
                    </form>
                </div>

                
            </div>
            <div class='comment__subs'>
                <% for(let j=0; j<result.length; j++){%>
                    <% if(result[i].id==result[j].parent){%>
                        <div class='comment__sub container'>
                            <div class='comment__sub__info row'>
                                <div><%=result[j].nickname%></div>
                                <%if(user==result[j].nickname){%>
                                    <div class='comment__sub__function row'>
                                        <form class='deleteForm'>
                                            <input type='text' name='deleteId' value="<%=result[j].id%>" hidden>
                                            <input class="sub__function--delete" type='submit' name="delete" value='刪除'>
                                        </form>
                                        <button class="btn--edit sub__function--edit" type="button" class="btn btn-primary">編輯</button>
                                    </div>
                                <%}%>
                            </div>

                            <div class='comment__sub__content row'><%= result[j].comment%></div>
                    
                            <div class='comment__sub__updateForm form-group p-3 bg-white rounded'>
                                <form class='updateForm'>
                                    <input type='text' name='updateId' value="<%=result[j].id%>" hidden>
                                    <textarea class="form-control" name="updateComment"><%=result[j].comment%></textarea>
                                    <div style='height: 10px;'></div>
                                    <button class="btn btn-outline-info my-2 my-sm-0 btn-lg btn-block" type="submit">更新</button>  
                                </form>
                            </div>

                        </div>
                    <%}%>
                <%}%>
            </div>
            <%if(user!==''){%>
            <div class='comment__form'>
                <div class='form-group '>
                    <form class='createCommentForm'>
                        <% let parent=result[i].id %>
                        <input type='text' name='nickname' value='<%=user%>' hidden>
                        <input type='text' name='parent' value=<%=parent%> hidden>
                        <textarea class="form-control" name="content" placeholder="回應：" required></textarea>
                        <div style='height: 10px;'></div>
                        <button class="btn btn-outline-info my-2 my-sm-0 btn-lg btn-block" type="submit">送出</button>  
                    </form>
                </div>
            </div>
            <%}%>

        </div>
        <%}%>
    <%}%>

    <% let page = Math.ceil(result.length/10) %>
    <div class='bottom_page'>
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="/comments/<%= Number(p)-1%>">Previous</a></li>
    <% for(let i=1; i<=page; i++){%>
        <li class="page-item"><a class="page-link" href="/comments/<%= i%>"><%= i%></a></li>
    <%}%>
        <li class="page-item"><a class="page-link" href="/comments/<%= Number(p)+1%>">Next</a></li>
    </ul>
    </div>

</div>

</body>
</html>
<%- include('./ajax')%> <!-- 要加在最後一行、 submit 的對象是 form 不是 submit-->

